# Secrets
.env
config.yaml

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# macOS
.DS_Store

# Logs
streamlit.log
server_error.log
*.log

# Large / generated data (too big for GitHub)
data/chroma_db/
data/raw/*.pdf

# DB files
*.sqlite
*.sqlite3

# Cache
.*_cache/
.streamlit/
